body {
      background-color: black;
      text-align: justify;
}
h1 {
    color: white;
    font-family: Calibri;
    text-align: center;
}
h2 {
    color: white;
    font-family: Calibri;
    text-align: center;
}
h3 {
       color: black;
       font-family: Calibri;
       text-align: center;
}
.generator {
             width: 300px; 
             height: 300px; 
             border: 1px solid black;
             margin: auto; 
}
.kecy {
          background-color: hsl(120, 100%, 50%);
          font-family: Calibri;
          width: 500px;
          padding: 10px;
          margin: auto;
          text-align: justify;
          /* offset-x, offset-y, blur-radius, spread-radius, color */
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.menu {
           font-size: 13px;
           position: fixed;
           top: 0px;
           right: 0px;
           text-align: justify;
           background-color: hsl(50, 100%, 99%);
}
.menu:hover {
                   animation-name: background-color-1;
                   animation-duration: 500ms;
                   animation-fill-mode: forwards;
           }
@keyframes background-color-1 {
                                100% {
                                       background-color: hsl(0, 0%, 100%);
                                     }
                                }
button {
        background-color: hsl(0, 0%, 100%);
       }
button:hover {
              animation-name: background-color-2;
              animation-duration: 500ms;
              animation-fill-mode: forwards;
                 }
@keyframes background-color-2 {
                               100% {
                                      background-color: #4791d0;
                                     }
                                }

