body {
      background-color: black;
      text-align: justify;
}
h1 {
    color: yellow;
    font-family: Calibri;
    text-align: center;
}
h2 {
    color: yellow;
    font-family: Calibri;
    text-align: center;
}
.generator {
             width: 300px; 
             height: 300px; 
             border: 1px solid white;
             margin: auto; 
}
.kecy {
          background-color: hsl(120, 100%, 50%);
          font-family: Calibri;
          width: 500px;
          padding: 10px;
          margin: auto;
          text-align: justify;
          /* offset-x, offset-y, blur-radius, spread-radius, color */
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

